<a href="https://colab.research.google.com/github/minipri/Fiap_BigData/blob/main/Aula_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#0. Carga bibliotecas
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [49]:
#1. Carga de dados
dfTit = pd.read_csv('https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/dados_arvore_titanic.csv')
dfTit.shape

(891, 12)

In [69]:
#2. Tratamento de dados/transformações

#Construção em dummy de genero
dummies_sex = pd.get_dummies(dfTit['Sex'])
dfTit['SexFemale'] = dummies_sex['female']

#Construção em dummy de classe
dummies_pclass = pd.get_dummies(dfTit['Pclass'],prefix= 'Pclass')
dfTit['Pclass_1'] = dummies_pclass['Pclass_1']
dfTit['Pclass_2'] = dummies_pclass['Pclass_2']

# Preenchumento de nulos para idades
ageMed = dfTit['Age'].mean() #calculo da media da idade dos passageiros
dfTit ['AgeNullTrat'] = dfTit['Age'].fillna(ageMed)

dfTit

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexFemale,AgeNullTrat,Pclass_1,Pclass_2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,22.000000,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,38.000000,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,26.000000,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,35.000000,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,35.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,27.000000,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,19.000000,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,29.699118,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,26.000000,1,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,32.000000,0,0

In [71]:
# 3. Separação Treino - Teste

x_treino, x_teste, y_treino, y_teste = train_test_split( dfTit[['SexFemale','AgeNullTrat','Pclass_1','Pclass_2']], dfTit['Survived'], test_size=0.25, random_state=1)

In [72]:
#4. Modelo de árvores 
mod = tree.DecisionTreeClassifier()
mod.fit(x_treino, y_treino)

DecisionTreeClassifier()

In [73]:
# 5 Previsão em teste
# 5. Erro de Previsão

y_prev = mod.predict(x_teste)

In [74]:
#6. Análise de erro de previsão

#6.1 Matriz de confusão
pd.crosstab(y_prev, y_teste, margins = True)

Survived    0   1  All
row_0
0         115  36  151
1          13  59   72
All       128  95  223

In [75]:
#6.2 Acurácia
print(accuracy_score(y_teste, y_prev))
#6.3 Precision
print(precision_score(y_teste, y_prev))
#6.4 Recall
print(recall_score(y_teste, y_prev))

0.7802690582959642
0.8194444444444444
0.6210526315789474